@font-face {
    font-family: "bobs";
    src: url("bobs.ttf") format("truetype");
    src: url("bobs2.ttf") format("truetype");
}

body {
    font-family: "bobs";
    background-image: url(../images/bobsheader.png);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: center-top;
    
}