/* .jumbotron {
    background-image: url(./bobsheader.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: #ffffff;
} */

h1 {
    font-size: 70px;
    color: red;
}

.jumbotron{
    background-color: rgb(185,193,193, .9);
    color: #ffffff;
}

